<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.museumapp">
    <!-- Adding internet connection permissions to connect to database -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/playstore_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MuseumTheme"
        tools:targetApi="31">
        <activity
            android:name=".objects.ItemList"
            android:exported="false" />
        <activity android:name=".Login" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Control" />
        <activity android:name=".ItemListActivity"/>
        <activity
            android:name=".InfoPage"
            android:label="Info Page"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ArtPage"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".SettingsPage"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>